## IRIS Data Visualization by using python pandas liabrary

In [4]:
import pandas as pd
pd.options.display.max_rows = 9

import iris
mySQL =  '''
        SELECT ID, NameSpace, Routine, LinesExecuted, GlobalReferences,
        state, PidExternal, UserName, ClientIPAddress FROM %SYS.ProcessQuery ORDER BY NameSpace desc        
        '''
statement = iris.sql.exec(mySQL)
df = statement.dataframe()
df.head()

,id,namespace,routine,linesexecuted,globalreferences,state,pidexternal,username,clientipaddress
0,630,USER,%sqlcq.USER.cls2.1,307678,56291,RUN,630,irisowner,
1,447,%SYS,MONITOR,5210,78,EVTW,447,,
2,453,%SYS,CLNDMN,0,20,RUNW,453,,
3,455,%SYS,%SYS.WorkQueueMgr,317358,21822,SEMW,455,,
4,456,%SYS,%SYS.WorkQueueMgr,13612,364,EVTW,456,,